<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Connect_church?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">jacyrafa260</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Classes/Noticia.hbm.xml"/>
    <mapping resource="Classes/Matricula.hbm.xml"/>
    <mapping resource="Classes/Seminario.hbm.xml"/>
    <mapping resource="Classes/PeriodoLetivo.hbm.xml"/>
    <mapping resource="Classes/Assiduidade.hbm.xml"/>
    <mapping resource="Classes/MidiaNoticia.hbm.xml"/>
    <mapping resource="Classes/ArquivoTurma.hbm.xml"/>
    <mapping resource="Classes/Mensagem.hbm.xml"/>
    <mapping resource="Classes/Evento.hbm.xml"/>
    <mapping resource="Classes/Disciplina.hbm.xml"/>
    <mapping resource="Classes/Ministerio.hbm.xml"/>
    <mapping resource="Classes/Pessoa.hbm.xml"/>
    <mapping resource="Classes/Turma.hbm.xml"/>
    <mapping resource="Classes/Ministra.hbm.xml"/>
    <mapping resource="Classes/Membro.hbm.xml"/>
    <mapping resource="Classes/Visitante.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
